<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Ambiente de Desarrollo -->
        <!--<add name="AztecaCStringSitesDB" connectionString="Data Source=ADCROSFAPITWS04\SQLDEV;Initial Catalog=SitesDB;User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
        <!--<add name="AztecaCStringSeguridad" connectionString="Data Source=ADCROSFAPITWS04\SQLDEV;Initial Catalog=Seguridad;User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
        <!--<add name="AztecaCStringSistemaRRHH" connectionString="Data Source=ADCROSFAPITWS04\SQLDEV;Initial Catalog=SistemaRRHH;User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
    <!-- Ambiente de Desarrollo -->
    <!-- Ambiente de Preproducción -->
    <add name="AztecaCStringSitesDB" connectionString="Data Source=10.142.6.86;Initial Catalog=SitesDB; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />
    <add name="AztecaCStringSeguridad" connectionString="Data Source=10.142.6.86;Initial Catalog=Seguridad; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />
    <add name="AztecaCStringSistemaRRHH" connectionString="Data Source=10.142.6.86;Initial Catalog=SistemaRRHH; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />
    <!-- Ambiente de Preproducción -->
    <!-- Ambiente de Producción -->
        <!--<add name="AztecaCStringSitesDB" connectionString="Data Source=10.142.6.86;Initial Catalog=SitesDB; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
        <!--<add name="AztecaCStringSeguridad" connectionString="Data Source=10.142.6.86;Initial Catalog=Seguridad; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
        <!--<add name="AztecaCStringSistemaRRHH" connectionString="Data Source=10.142.6.86;Initial Catalog=SistemaRRHH; User ID=usr_SistemaRRHH;Password=RRhh0911*2014/*.." providerName="System.Data.SqlClient" />-->
    <!-- Ambiente de Producción -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
